.table-centered td, .table-centered th {
  vertical-align: middle;
}

.badge-lg {
  font-size: 0.85rem;
  padding: 0.5em 0.75em;
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.form-check-input:checked {
    background-color: #43bcd9;
    border-color: #43bcd9;
}
